[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rpivotTable"]
	path = rpivotTable
	url = https://github.com/smartinsightsfromdata/rpivottable
